In [1]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')

print(f'{a}\n{b}\n{c}\n{d}')

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']

In [4]:
t = ('apple','banana','orange','grap')
a, b, c, d = t

print(f'{a}\n{b}\n{c}\n{d}')
print(f'\n{t[0]}\n{t[1]}\n{t[2]}\n{t[3]}\n')

t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t = t1 + t2
print(t)

apple
banana
orange
grap

apple
banana
orange
grap

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [5]:
t = ('apple','banana','orange','grap')

print(f'{a}\n{b}\n{c}\n{d}')
print(f'\n{t[0]}\n{t[1]}\n{t[2]}\n{t[3]}\n')

t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t = t1 + t2
print(t)

apple
banana
orange
grap

apple
banana
orange
grap

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [6]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])

print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [9]:
a = 2
b = 3

if(a>b):
  print('hello')
print('ok')



if(a>b):
  print('hello')
else:
  print('world')
print('ok')



if(a<b):
  print('a<b')
  if(a==1):
    print('a=1')
  elif(a==2):
    print('a=2')
  elif(a==3):
    print('a=3')
elif(a>b):
  print('a>b')
else:
  print('a=b')
print('ok')

ok
world
ok
a<b
a=2
ok

In [10]:
a = 2
b = 3
c = 0

if(a>b or a<c and a==2 or b==4):
  print('ok1')
else:
  print('XXX')

XXX

In [11]:
for a in ['x', 'y', 'z']:
  for b in [1, 2, 3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [12]:
for a in ['x', 'y', 'z']:
  for b in [1, 2, 3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [13]:
i = []
for t in range(10):
  t += 1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
a = int(input('輸入數字：'))
print(a + 1)
print('hello')

輸入數字：1
2
hello

In [16]:
try:
  a = int(input('輸入數字：'))
  print(a + 1)
except:
  pass
print('hello')

輸入數字：1
2
hello

In [17]:
a = []
for i in range(1,10):
  a.append(i*i)
print(a)

b = [j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

輸入幾年幾月，幫你判斷那年的那月有幾日

In [23]:
year,month = input().split()
year,month = int(year),int(month)

if month==2:
  if year%4==0 or year%400==0:
    print(str(year)+'年'+str(month)+"月有29日")
  else:
    print(str(year)+'年'+str(month)+"月有28日")
else:
  if month==4:
    print(str(year)+'年'+str(month)+"月有30日")
  elif month==6:
    print(str(year)+'年'+str(month)+"月有30日")
  elif month==9:
    print(str(year)+'年'+str(month)+"月有30日")
  elif month==11:
    print(str(year)+'年'+str(month)+"月有30日")
  else:
    print(str(year)+'年'+str(month)+"月有31日")

2004 2
2004年2月有29日

輸入算式做運算

In [24]:
print(eval(input().replace('/','//')))

123+321
444

https://zerojudge.tw/ShowProblem?problemid=a147
a147. Print it all

In [25]:
user_input = int(input())
for i in range(user_input):
    if user_input==0:
        break
    if i%7==0:
        pass
    else:
        print(str(i)+" ",end="")

123
1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 36 37 38 39 40 41 43 44 45 46 47 48 50 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79 80 81 82 83 85 86 87 88 89 90 92 93 94 95 96 97 99 100 101 102 103 104 106 107 108 109 110 111 113 114 115 116 117 118 120 121 122

https://zerojudge.tw/ShowProblem?problemid=c022
c022. 10783 - Odd Sum

In [26]:
start,End = input().split()

count = 0
for i in range(int(start),int(End)+1):
    if i%2==1:
        count += i
    else:
        pass
if count!=0:
    print(count)

3 173
7568

In [27]:
a = 2
b = 3
c = 0

if(a>b or a<c and a==2 or b==4):
  print('ok1')
else:
  print('XXX')

XXX